<mat-drawer-container class="mat-drawer-container" autosize>
  <!-- Seitennavigation -->
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">
      Platz für Logo
    </div>

    <ul class="menu-items">
      <li routerLink="/dashboard" routerLinkActive="active"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="active"><mat-icon>person</mat-icon>Person</li>
    </ul>
  </mat-drawer>

  <!-- Inhalt -->
  <div class="sidenav-container">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" autosize>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <!-- Router Outlet -->
    <div class="router-container">
      <router-outlet></router-outlet> <!-- Hier sollte der Inhalt basierend auf der Route angezeigt werden -->
    </div>
  </div>
</mat-drawer-container>


